<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
    angular.module('videoApp', [])
            .controller('VideoCtrl', ['$scope', '$http', function($scope, $http) {
                $http({
                    method: 'GET',
                    url: '/videos'
                }).then(function successCallback(response) {
                    $scope.videoOptions = response.data;
                    $scope.homeVideo = $scope.videoOptions[0];
                    /*$http({
                        method: 'GET',
                        url: '/videos/home'
                    }).then(function successCallback(response) {
                        console.log("home video: ", response.data);
                        $scope.homeVideo = response.data;
                    });*/
                });
                $http({
                    method: 'GET',
                    url: '/videos/options'
                }).then(function successCallback(response) {
                    console.log("Input Options: ", response.data);
                    $scope.inputVideos = response.data;
                    $scope.video1 = $scope.inputVideos[0];
                    $scope.video2 = $scope.inputVideos[0];
                });

                $scope.save = function() {
                    console.log("Calling save");
                    var data = $scope.homeVideo;
                    $http.put('/videos/home', data).then(function() {alert('Home Video Set')});
                };

                $scope.merge = function() {
                    console.log("Calling merge");
                    var data = {'name': $scope.mergeName,
                                'input1': $scope.video1,
                                'input2': $scope.video2
                    };
                    $http.post('/videos/merge', data).then(function() {alert('Videos merged, please refresh page.')});
                }
            }]);
</script>
<body ng-app="videoApp">
<div ng-controller="VideoCtrl">
    <h1>Select Home Page Video:</h1>
    <p>Home Page Video:
        <select ng-model="homeVideo" ng-options="option for option in videoOptions"></select>
    </p>
    <button ng-click="save()">Save</button>
    <p>
        <h1>Select 2 Videos to Merge:</h1>
    </p>
    <p>Video 1:
        <select ng-model="video1" ng-options="option for option in inputVideos"></select>
    </p>
    <p>Video 2:
        <select ng-model="video2" ng-options="option for option in inputVideos"></select>
    </p>
    <p>Name:
        <input type="text" ng-model="mergeName">
    </p>
    <button ng-click="merge()">Merge</button>
</div>
</body>
</html>